/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* /Fonts */


body{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    height: 100%;
}
a {
    outline: none;
    cursor: pointer;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div {
    display: block;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul, ol {
    margin: 10px 0 10px 0;
}



#header-menu{
    background-color: #212121;
    color: #fff;
    height: 61px;
    z-index: 2;
    position: relative;
    width: 100%;
    min-width: 300px;
    text-decoration: none;
    
}


/* responsive header*/

#main-body{
    z-index: 1;
    position: relative;
    width: 100%;
    min-width: 300px;
}

.main-frame{
    position: relative;
    margin: 0 auto;
    line-height: 1.5;
    max-width: 900px;
    overflow-x: auto;
}


.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    box-sizing: border-box;
}



.flex-column {
    display: flex;
    margin: 0 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    box-sizing: border-box;
}

.equation-div{
    display: flex;
    justify-content: center;
}
.equation-img{
    
}
.standard-image {
    border-radius: 2px;
    width: 100%;
    margin: 15px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
}

.adaptive-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-button-flat {
    margin: 10px 0 10px 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    outline: none;
    border-radius: 48px;
    cursor: pointer;
    box-shadow: none;
    transition: background-color 0.1s, box-shadow 0.1s, border 0.1s;
    text-decoration: none;
    color: black;
    border: 1px solid #777777;
    background-color: white;
    padding: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon-image{
    width: 30px;
    height: 30px;
}
.custom-button-flat span {
    margin-left: 6px;
}

.text {
    margin: 10px 0 10px 0;
    padding: 0;
}

.subheading{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    border-bottom: 1px solid #000;
}



@media screen and (max-width: 800px){
    .main-frame{
        padding-left: 30px;
        padding-right: 30px;
    }
    .text{
        font-size: 16px;
    }
}